doctype html
html
  head
    meta( name='viewport', content='width=device-width , initial-scale=1.0' )
    title= title
    link(rel='stylesheet',   href='/stylesheets/bootstrap.css')
    link(rel='stylesheet',   href='/stylesheets/font-awesome.css')
    link(rel='stylesheet',   href='/stylesheets/style.css')
  body
    nav.navbar.navbar-fixed-top.navbar-toggleable-md.navbar-inverse
        .container
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarMain')
            span.navbar-toggler-icon
          a.navbar-brand(href='/') Loc8r
          #navbarMain.navbar-collapse.collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/about/') About
    .container
      block content
      footer
        .row
          .col-12
            small &copy; Simon Holmes 2017


        script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js')
        script(src='/javascripts/bootstrap.js' )
