extends layout

block content
  .row-banner
    .col-12
      h1 Loc8r
        small &nbsp;Find places to work with wifi near you!
  .row
    .col-12.col-md-8

      .card
        .card-block
          h4
            a(href='/location') Starcups
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.pull-right 100m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
              span.badge.badge-warning Hot drinks
              span.badge.badge-warning Food
              span.badge.badge-danger Premium wifi
      .card
        .card-block
          h4
            a(href='/location') Cafe Hero
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star-o
              i.fa.fa-star-o
              i.fa.fa-star-o
            span.badge.badge-pill.badge-default.pull-right 200m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-danger Premium wifi
      .card
        .card-block
          h4
            a(href='/location') Burger Queen
            small &nbsp;
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
              i.fa.fa-star
            span.badge.badge-pill.badge-default.pull-right 500m
          p.address 125 High Street, Reading, RG6 1PS
          p.facilities
            span.badge.badge-warning Hot drinks
            span.badge.badge-warning Food
            span.badge.badge-danger Premium wifi
    .col-12.col-md-4
      p.lead Looking for wifi and a seat? Loc8r helps you find places to work when out and about. Perhaps with coffee, cake or a pint? Let Loc8r help you find the places you're looking for.

